@using Microsoft.AspNetCore.Mvc
@inject IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav">
    @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("currentUser")))
    {
        <li class="nav-item">
            <a class="nav-link text-dark">Hello @HttpContextAccessor.HttpContext.Session.GetString("currentUser")!</a>
        </li>
        <li class="nav-item">
            <form method="post" action="@Url.Action("LogOut", "Auth")" class="form-inline">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="@Url.Action("Login", "Auth")">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="@Url.Action("Register", "Auth")">Register</a>
        </li>
    }
</ul>
