<!DOCTYPE html>
<html>

<body>
<br />
<h2 style="color: black; margin-left:0px;">Our Banking Details:</h2>
<br />

<p>
    <strong>Account Name: </strong>Icebolomkhumbane Foundation <br />
    <strong>Bank: </strong>Al Baraka Bank <br />
    <strong>Account Number: </strong>78600295987 <br />
    <strong>Branch Code: </strong>800 000 <br /><br />

    If you make a donation, please include your name or company name as a payment reference.
    <br />
</p>
</body>
</html>
